$maindark: #283241;
$maindark2: #38465c;
$orange1: #ff6c0e;
$orange2: #ff900e;
$gradient: linear-gradient(to right, $orange1, $orange2);
$gradient2: linear-gradient(to right, $maindark, $maindark2);

body {
  color: $maindark;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

button.main {
  background: $gradient;
  padding: 10px;
  border-radius: 8px;
  margin: 30px 0;
}

button.pass {
  background: $gradient2;
  color: #fff;
  padding: 10px;
  border-radius: 8px;
  margin: 30px 0;
}

button.main:hover,
button.pass:hover {
  cursor: pointer;
}

main {
  flex: 2;

  #form-container {
    margin: 30px;
    width: calc(100% - 60px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;

    section {
      position: relative;
      background-color: #cdcdcd;
      border: medium solid $maindark;
      border-radius: 10px;
      overflow: hidden;
      padding: 30px;
      text-align: center;

      h2 {
        font-size: 4em;
        font-weight: bold;
      }

      p {
        font-style: italic;
      }

      input {
        width: 100%;
        margin: 10px 0;
      }

      select {
        width: 100%;
      }
    }

    #where .cover:hover {
      cursor: pointer;
      transition: background-color 1s;
      background-color: lightgray;
    }

    .cover {
      background-color: gray;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      opacity: 1;
      transition: opacity 1s;
    }

    .cover.fade {
      opacity: 0;
    }
  }

  .list {
    li:not(.sample) {
      list-style-type: "- ";
    }

    li:hover {
      list-style-type: "X ";
      text-decoration: underline;
      cursor: pointer;
    }
  }

  #trips {
    margin: 60px auto;
    max-width: 800px;

    .trip-container {
      margin: 30px;
      display: flex;
      flex-direction: column;
      gap: 30px;
      line-height: 1.4em;
      box-shadow: 5px 5px 10px rgba($maindark, .5);
      border-radius: 8px;
      border: medium solid $maindark;
      background-color: #fff6ec;
      overflow: hidden;
      position: relative;

      .cover-photo {
        background-color: green;
        padding: 28%;
        box-sizing: border-box;
        position: relative;

        > img {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .pix-credit {
        position: absolute;
        bottom: 20px;
        right: 20px;
        width: 200px;

        img {
          object-fit: contain;
          width: 100%;
        }
      }

      .details-container {
        margin: 30px;
      }

      h3 {
        font-size: 2em;
        weight: bold;
        text-align: center;
      }

      .trip-details {
        margin: 30px 0;
      }

      b {
        font-weight: bold;
      }
    }
  }
}
@media screen and (min-width:900px) {
  main {
    #form-container {
      flex-direction: row;

      section {
        width: 30%;
      }
    }

    #trips {
      button {
        margin-top: 10px;
      }

      .trip-pack-list {
        display: flex;
        flex-direction: column;
      }

      label {
        display: block;
      }

      .packlist,
      ul {
        text-align: center;
        line-height: 30px;
      }
    }
  }
}